* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    /* width: 100%;
    max-width: 1400px; */
    position: relative;
    font: 16px 'Roboto', Arial, Helvetica, sans-serif;
    color: #424F57;
}

.center-holder {
    max-width: 1022px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.intro {
    background-image: url(../img/Layer1.jpg);
    height: 596px;
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.intro-headline {
    font-family: FuturaBT;
    font-size: 52px;
    line-height: 144%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo-container {
    text-decoration: none;
}

.logo-image {
    vertical-align: top;
}

.navigation {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 20px 0;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-navigation-list {
    display: flex;
    list-style: none;
}

.menu-navigation-item {
    margin-left: 25px;
}

.menu-navigation-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
}

.menu-navigation-link:hover {
    color: #14AFCA;
}

/* SLOGAN */

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 400px;
}

.headline-large {
    font-size: 3.75rem;
    color: #14AFCA;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.headline-small {
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #424F57;
    letter-spacing: 1.5px;
}

.headline-small-white {
    font-weight: 700;
    font-size: 1.125rem;
    color: #fefefe;
    text-align: center;
    letter-spacing: 1.5px;
}

.simple-text {
    text-align: center;
    padding-top: 0.7rem;
}

.companies {
    background-image: url(../img/Layer2.jpg);
    clip-path: polygon(50% 15%, 100% 0%, 100% 100%, 0 100%, 0 0);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: -9vh;
    padding-top: 205px;
    position: relative;
}

/* .companies:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-image: url(../img/Layer2.jpg);
    background-size: 100%;
    z-index: -1;
    transform: translateZ(-1px) scale(1.5);
} */

.companies-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 400px;
    padding-top: 25px;
}

.companies-logos-item {
    padding: 25px 0;
}

.companies-logos-item-link {
    display: block;
}

.meet-us-container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 -15px;
}

.meet-us-item {
    width: 33%;
    text-align: center;
    padding: 0 15px;
}

/* .meet-us-item img {
    vertical-align: top;
} */

.testimonials {
    background-image: url(../img/Layer2.jpg);
    height: 560px;
    clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials-quote {
    font-family: 'Open Sans';
    font-style: italic;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    font-size: 1rem;
    text-align: center;
    padding-top: 3rem;
}

.testimonials-quote-content {
    display: block;
}

.testimonials-cite {
    color: #FFFFFF;
    font-size: 1.1em;
    padding-top: 2rem;
    display: block;
    text-align: right;
}

.why-formula-headline {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.75px;
    color: #424F57;
    padding-top: 2.3rem;
    max-width: 770px;
    margin: 0 auto;
}

.footer {
    padding: 0 0 60px;
}

.copyright-text {
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
    text-align: center;
}

.copyright-text a {
    text-decoration: none;
    font-weight: 700;
}